$color1: #282c37 !default; // darkest
$color2: #cccccc !default; // lightest
$color3: #222222 !default; // lighter
$color4: #FFC0CB !default; // vibrant
$color5: #ffffff !default; // white
$color6: #df405a !default; // error red
$color7: #79bd9a !default; // succ green
$color8: #000000 !default; // black
$color9: #f1f1f1 !default; // lightgray
$color10: #999999 !default; // gray
$color11: #e89aa7 !default; // pink
$color12: #dddddd !default; // gray2
